@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inria+Serif:wght@300&family=La+Belle+Aurore&family=Raleway:wght@100&display=swap');
.section{
  background-color: #A19DA3;
  width: 100vw;
  height:auto;
}

.about-ctnr{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70vw;
  height: auto;
  padding-bottom: 20px;
  max-width: 1000px;
}
.header{
  font-family: 'Cinzel', serif;
  font-size: 1.7rem;
}
.about-image{
  margin: 0 auto;
  padding: 40px;
}
.about-text{
  width: 70vw;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  max-width: 1000px;
  font-family: 'Inria Serif', serif;
  line-height: 30px;
}
.em{
  font-family: 'La Belle Aurore', cursive;
  font-size: 1.6rem;
}