@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Homemade+Apple&family=Italianno&family=Marcellus&family=Philosopher:wght@400;700&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf7f2;
  color: #52464f;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-family: "Italianno", cursive;
  font-size: 5rem;
}

.logo h1 {
  margin: 0;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #52464f;
}

.nav-items li {
  margin-left: 10px;
  text-decoration: none;
  color: #52464f;
  font-family: "Marcellus", serif;
  font-size: 2rem;
}
.nav-items li:hover {
  color: #d1ac65;
  font-weight: bold;
}

span {
  font-family: "Inria Serif", serif;
  font-weight: 100;
}
