
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inria+Serif:wght@300&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #52464F;
    color: #FAF7F2;

  }
  
  .logo {
    flex-grow: 1;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .nav-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FAF7F2;
  }
  
  .nav-items li {
    margin-left: 10px;
    text-decoration: none;
    color: #FAF7F2;
    font-family: 'Inria Serif', serif;
    font-size: 1.3rem;
  }
  .nav-items li:hover{
    color: #D1AC65;
    font-weight: bold;
  }

  span{
    font-family: 'Inria Serif', serif;
 font-weight: 100;
  }

  