@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Homemade+Apple&family=Italianno&family=Marcellus&family=Philosopher:wght@400;700&family=Raleway:wght@100&display=swap");
.shop {
  text-align: center;
  background-color: #faf7f2;
  margin: 0 auto;
  display: flex;
  width: 90%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: left;
  margin: 0 auto;
}
.filter-type {
  font-family: "Marcellus", serif;
  font-size: 1.8rem;
  text-align: left;
  margin: 0;
  padding-left: 30px;
  padding-top: 30px;
}
.category-item:hover {
  color: #d1ac65;
  font-weight: bold;
}

.product-categories {
  display: flex;
  width: 90%;
  letter-spacing: 3px;
  font-family: "Raleway";
  color: #40323d;
  flex-direction: column;
}
.product-categories h4 {
  padding: 10px;
}
.product-categories h4:hover {
  color: #d1ac65;
  font-weight: bolder;
  font-family: "Cinzel", serif;
}
.category-item {
  text-align: start;
}
.card {
  width: 400px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
}

.product-name {
  font-size: 25px;
  font-weight: bold;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  color: #40323d;
}

.product-description {
  margin-top: 10px;
  font-family: "Marcellus", serif;
}

.product-price {
  margin-top: 10px;
  font-weight: bold;
  font-family: "Cinzel", serif;
  color: #40323d;
}
.add-to-bag-button {
  background-color: transparent;
  color: black;
  border: 0.5px solid black;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
}

.product-image {
  width: 100%;
  height: 500px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
