@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inria+Serif:wght@300&family=Raleway:wght@100&display=swap');

.social-media {
    padding: 20px;
    font-family: 'Raleway', serif;
    background-color: #e6dbca;
  }
  
  .social-media-container {
    margin: 0 auto;
    max-width: 1000px;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .social-media-image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4px;
  }
  
  .socialMediaImg {
width: 170px;
height: 155px;
  }
  